<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Movie List</title>
<style type="text/css">
<!--
@import url("static/style.css");
-->
</style>
</head>
<body>

{{#tr}}
  {{#movie}}
<table id="box-table-a" summary="Movie List">
    <thead>
    	<tr>
            <th scope="col">Path</th>
            <th scope="col">Title</th>
            <th scope="col">Genres</th>
            <th scope="col">Runtime</th>
            <th scope="col">Language</th>
            <th scope="col">Rating</th>            

        </tr>
    </thead>
    <tbody>
  <tr>
    {{#path}}
      <td><a href="{{pathValue}}">Go to</a></td>
    {{/path}}
    {{#title}}
      <td>{{titleValue}}</td>
    {{/title}}
    {{#genres}}
      <td>{{genresValue}}</td>
    {{/genres}}
    {{#runtime}}
      <td>{{runtimeValue}}</td>
    {{/runtime}}
    {{#language}}
      <td>{{languageValue}}</td>
    {{/language}}
    {{#rating}}
      <td>{{ratingValue}}</td>
    {{/rating}}
  </tr>
    </tbody>
</table>
<table id="box-table-a" summary="Movie List">
    <thead>
    	<tr>
            <th scope="col">Plot</th>

        </tr>
    </thead>
    <tbody>

  <tr>
    {{#plot}}
      <td>{{plotValue}}</td>
    {{/plot}}
  </tr>
    </tbody>
</table>

  {{/movie}}
{{/tr}}
{{#empty}}
  <p>The list is empty.</p>
{{/empty}}


</body>
</html>

