<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Marked
Version    : 1.0
Released   : 20091208
Description: A two-column fixed-width template suitable for small websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>MoView - Worth Seeing?</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="static/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">
      <h1>MoView</h1>
      <h2>What are you going to see tonight?</h2>
    </div>
    <!-- end div#logo -->
  </div>
  <!-- end div#header -->
  <div id="page">
      <div id="content">
        <div style="clear: both; height: 10px"></div>
  <!-- end div#menu -->
{{#movie_content}}      
      <!-- MOVIES CONTENT - START -->
{{#movie}}
        <div class="post">
          <a name="{{#path}} {{pathValue}} {{/path}}"></a>
          <h2 class="title">
            <a href="{{#path}} {{pathValue}} {{/path}}">
              {{#title}} {{titleValue}} {{/title}}
            </a>           
          </h2>
          <p class="byline">
            <strong>Rating:</strong> {{#rating}} {{ratingValue}}  {{/rating}}
          </p>
          <div class="entry">
            <p><strong>Genres:</strong> {{#genres}} {{genresValue}}  {{/genres}}</p>
            <p><strong>Runtime:</strong> {{#runtime}} {{runtimeValue}}  {{/runtime}}</p>
            <p><strong>Language:</strong> {{#language}} {{languageValue}}  {{/language}}</p>
            <p><strong>Plot:</strong></p>
            <p>{{#plot}} {{plotValue}}  {{/plot}}</p>
          </div>
        </div>
{{/movie}}
      <!-- MOVIES CONTENT - END -->
{{/movie_content}}
      </div>
      <!-- end div#content -->
      <div id="sidebar">
        <ul>
          <li>
            <h2>Movies List</h2>
            <ul>
{{#movie_content}}      
      <!-- MOVIES CONTENT - START -->
{{#movie}}
              <li>
                <a href="#{{#path}} {{pathValue}} {{/path}}">
                  {{#title}} {{titleValue}} {{/title}}
                </a>
              </li>
{{/movie}}
      <!-- MOVIES CONTENT - END -->
{{/movie_content}}

            </ul>
          </li>
        </ul>
      </div>
      <!-- end div#sidebar -->
      <div style="clear: both; height: 1px"></div>
  </div>
  <!-- end div#page -->
</div>
<!-- end div#wrapper -->
  <div id="footer">
    <p>Copyright &copy; 2007 Marked. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>. </p>
    <p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
  </div>
  <!-- end div#footer -->

</body>
</html>




